
.googleMap {
	height: 500px;
	width: 100%;
}
#carteMain {
	height: 500px;
	width: 100%;
	border:1px solid #b8b8b8;
	background:#eeeeee;
	display:table;
	margin: 20px auto 0 auto;
}

#conteneur li {
    cursor: pointer;
}
#carte {
	width:780px;
	border:1px solid #b8b8b8;
	background:#eee;
	margin-bottom:10px;
	display:table;
}

#cartePopUp {
	width: 395px;
	padding-left:27px;
	position: absolute;
	top:0;
	display:none;
	z-index: 20;
}
#cartePopUp .carteWrapper {
	width: 398px;
	position:absolute;
	display:table;
	background: #fff;
	border: 5px solid #ccb;
}
#cartePopUp .arrow {
	position   : absolute;
	background : url(../img/infowindow_arrow.png) no-repeat;
	width      : 27px;   
	height     : 40px;   
	margin-top : 10px;   
	margin-left:-16px;  
	z-index    : 10;     
}
#cartePopUp .carteWrapper .top {
	background: none; /*url(../img/infowindow_top.png) no-repeat;*/
	width: 598px;
	height: 20px;
}
#cartePopUp .carteWrapper .content {
	background: transparent; /*url(../img/infowindow_content.png) no-repeat left bottom;*/
	width: 598px;
	color: #900;
	padding-left:18px;
	padding-bottom:20px;
	border: none;

}
#cartePopUp .carteWrapper .content .container {
	width: 450px;
	min-height:70px;
	max-height:350px;
	overflow:visible;
}
#cartePopUp .carteWrapper .content .container .left {
	width: 40%;
	float: left;
	border-right: 1px dotted #999;
	display:table;
	min-height:160px;
	padding-right: 10px;
}
#cartePopUp .carteWrapper .content .container .left .nommagasin {
	border-bottom: 1px dotted #333;
	width: 225px;
	font-weight: 900;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px 0;
}
#cartePopUp .carteWrapper .content .container .left .adressemagasin, #cartePopUp .carteWrapper .content .container .left .horairesmagasin {
	font-size: 12px;
	margin: 20px 0;
	width: 235px;
	color: #900;
}

#cartePopUp .carteWrapper .content .container .left .adressemagasin a, #cartePopUp .carteWrapper .content .container .left .horairesmagasin a{
	color: #900;
}

#cartePopUp .carteWrapper .content .container .left .infosmagasin {
	width: 225px;	margin-top: 10px;
	font-style:italic;	font-size: 10px;
}

#cartePopUp .carteWrapper .content .container .right {
	width: 100px;
	float: left;
	padding-left: 10px;
	font: 16px;
	font-weight: bold;
}
#cartePopUp .carteWrapper .content .container .right .urunlogo {
	margin-top: 5px;
	cursor:pointer;
}
.accordionButton {
	font-weight:900;
	width: 320px;
	margin-right:20px;
	float: left;
	border-bottom: 1px dotted #333;
	cursor: pointer;
	height:20px;
	padding: 5px 0;
	text-align: left;
}
.accordionContent {
	clear:both;
	padding-top:10px;
}
.on {
	font-weight:700;
	cursor:pointer;
	color:#900;
}
.over {
	font-weight:700;
}
.mapCluster {
	cursor:pointer !important;
}

.cluster {
	color:#0066A7;
	text-align:center;
	font-family: 'Dosis';
	font-size:11px;
	font-weight:bold;
	cursor:pointer !important;
}
.cluster-1{
	background: url(../img/marqueurs/afdb1.png);
	line-height:36px;
	width: 58px;
	height: 54px;
}
.cluster-2{
	background: url(../img/marqueurs/afdb2.png);
	line-height:53px;
	width: 84px;
	height: 84px;
}
.cluster-3{
	background: url(../img/marqueurs/afdb3.png);
	line-height:75px;
	width: 120px;
	height: 120px;
}
