/*----------------------------------------------------------*/

#body-content-page
    {
        padding-bottom: 30px;
        padding-left: 15px;
        width: 740px;
        position: relative;
        display: block;
    }


    #body-content-page-pub
        {
            width: 770px;
            height: 270px;
            margin-bottom: 80px;
            background-color: #fff;
            background-position: top left;
            background-repeat: repeat-x repeat-y;
            border-radius: 5px;
        }
        
        
        .produit-publicite
            {
                border: 1px solid #000;
                position: absolute;
                top: 0px;
                width: 708px;
                height: 270px;
                overflow: auto;
                padding: 0px;
                display: none;
                cursor: pointer;
            }
        
            
            .produit-publicite-titre
                {
                    color: #222;
                    width: 692px;
                    overflow: auto;
                    text-align: center;
                    font-family: Raleway, Helvetica, Arial;
                    font-weight: normal;
                    clear: both;
                    margin-bottom: 10px;
                    margin-top: 1px;
                    padding: 8px;
                    /* border-top-left-radius: 15px;
                    border-top-right-radius: 15px; */
                    border-bottom: 1px solid #aaa;
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
                }
        
            
            .produit-publicite-visuel
                {
                    text-align: center;
                    width: 690px;
                    height: 220px;
                    line-height: 220px;
                    overflow: hidden;
                }
            
                
                .produit-publicite-visuel img
                    {
                    
                        vertical-align: middle;
                        padding: 10px;
    
                        /* Code standard */ 
                        max-width: 200px; 
                        max-height: 200px; 
                        
                        /* Code spécial IE */ 
                        _width: expression((this.offsetWidth>=this.offsetHeight) ? 
                          Math.min(parseInt(this.offsetWidth), 200 ) : true); 
                        _height: expression((this.offsetHeight>this.offsetWidth) ? 
                          Math.min(parseInt(this.offsetHeight), 200 ) : true);
                    }


#body-content-page p
    {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        text-align: justify;
    }

#body-content-page-texte
{
    padding-top: 40px;
    position: relative;
    display: block;
    margin: auto;
    width: 100%
}
.col-picto, .col-texte, .row{display: block; position: relative;}
.row{padding-bottom: 250px; width: 100%;}
.col{padding-right: 50;float: left;}
.col-picto, .col-texte{float: left;}
.col{width: 320px;}
.col-picto{width: 80px;}
.col-texte{width: 240px;}
.col-texte h2{border: none; color: #e95a0c; font: normal normal 500 16px "Raleway", sans-serif; padding-top: 10px; text-transform: uppercase;}
.col-texte p, .col-texte li {border: none; color: #4d4d4d; font: normal normal 300 13px "Open Sans", sans-serif;}
.col-texte p strong, .col-texte ul strong{font: normal normal 600 13px "Open Sans", sans-serif;}
.col-texte ul{margin: 0; padding: 0 0 0 18px;}
/*----------------------------------------------------------*/

*{border: none;}

/* Gallery styles */

#gallery{
    /* The width of the gallery */
    width:700px;
    overflow:hidden;
}

#slides{
    /* This is the slide area */
    height:262;

    /* jQuery changes the width later on to the sum of the widths of all the slides. */
    width:700px;
    overflow:hidden;
}

.slide{
    float:left; 
    position: relative; 
    display: block;
    height: 262px;
    width: 700px;
    margin: auto;
}

#menu{
    /* This is the container for the thumbnails */
    background: #4d4d4d;
    height:90px;
}

#menu ul{
    margin:0px;
    padding: 0px 20px 20px 20px;
}

#menu li{
    /* Every thumbnail is a li element */
    width:50px;
    display:inline-block;
    list-style:none;
    height:70px;
    overflow:hidden;
    margin-right: 20px;

}

li.inact{
    background: #ffffff url(../images/slide_inactive.png) no-repeat left top;
}
li.inact a:hover, li.act a:hover{
    border: 2px solid orange;
}

li.act{
    /* The active state of the thumb */
    background: #ffffff url(../images/slide_active.png) no-repeat left top;
}

li.act a{
    cursor:default;
}

#menu li a{
    display:block;
    height: 47px;
    margin-top: 19px;
    font: normal normal 600 30px "Open Sans", sans-serif;
    color: orange;
    text-decoration: none;
    text-align: center;
}


#menu a img{
    border:none;
    top: 10px;
    margin: auto;
    position: relative;
    display: block;
}

.slide-info{
    background-image: url(../images/slide-info_background.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    padding: 0px 0px;
    height: 262px;
    width: 700px;
    z-index: 100;
}

.slide-heading{
    color: #e95a0c;
    display: block;
    font-family: "Raleway", "Segoe UI", Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    padding-top: 135px;
    padding-left: 31px;
    position: relative;
    text-transform: uppercase;
    width: 344px;
}
.slide-texte{
    color: #4d4d4d;
    display: block;
    font-family: "Raleway", "Segoe UI", Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding-left: 31px;
    position: relative;
    width: 344px;
}
.slide img{
    display: block;
    float: right;
    right: 150px;
    max-height: 100%;
    position: relative;
    max-width: 500px;
}