body{margin: auto; padding: 50px 20px; position: relative; width: 100%;}
.container{margin: auto; position: relative; width: 90%;}
img{margin: auto; display: block; position: relative;}
h1{text-align: center; color: #00549D;}