	
	
h2
	{
		color: #e95a0c;
		font: normal normal 600 20px 'Raleway';
		text-transform: capitalize;
		padding: 0px;
		margin: 0px;
		margin-bottom: 17px;
	}
	
h5
	{
		font-weight: bold;
		font-size: 15px;
		position: relative;
		margin: auto;
		font: normal normal 300 15px "Open Sans", Helvetica;
		text-transform: uppercase;
		color: white;
		background: #555;
		box-shadow: -5px 3px #ff931e;
		display: block;
		width: 130px;
	}


/*----------------------------------------------------------*/
#body-content-page
	{
		padding-bottom: 30px;
		width: 750px;
		background-color: #fff;
		text-align: center;
	}

	#body-content-page-button
		{
			background-image: url(../images/fond_bloc.png);
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			background-position: top left;
			background-repeat: repeat-x repeat-y;
			height: 60px;
		}

	#body-content-page table
		{
			width: 100%;
			border-collapse: collapse;
		}
		 
		
		#revendeurs-map
			{
				width: 660px;
				height: 500px;
				margin: 22px;
				border: 1px solid grey;
			}
		
		
		#revendeur-detail-texte
			{
				display: block;
				float: left ;
				width: 200px;
				height: auto;
				overflow: auto;
				margin-left: 22px;
			}
		
		
		#revendeur-detail-visuel
			{
				display: block;
				float: right ;
				width: 440px;
				height: auto;
				overflow: auto;
				margin-right: 22px;
			}

		
			#revendeur-detail-visuel img
				{
					width: 438px;
					border: 1px solid grey;
				}
			
			#legende
				{
					margin-top: 12px;
				}
			
			#legende td
				{
					vertical-align: middle;
					padding-bottom: 0px;
					margin: auto;
					width: 50px;
					color: #222;

				}
				
			#legende td h5
				{
					padding: 0px;
					margin: auto;
					cursor:pointer;
				}

			#legende td a
			{
				color:inherit;
				text-decoration: none;
			}
			.regions td h5
				{
					text-align: center;
				}

				#body{overflow: visible; z-index: 0;}
				#body-content, #body-content-page{overflow: visible; z-index: 0;}